<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Dear, <b><span th:text="${name}">Peter Static</span></b>!
</p>
<h4>
    Thanks for choosing our service, you can complete your account by click on verify button
</h4>

<h4><a th:href="${URL}" target=\"_self\">VERIFY</a></h4>


<h4>
    We're excited to bring you onboard to Eskadenia!<br>
    Eskadenia, Team
</h4>
</body>
</html>