<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<ui:composition template="layout.xhtml">
    <ui:define name="content">
        <h:form id="subscriberForm">
            <p:panel header="subscriber Details">
                <p:panelGrid columns="4">
                    <p:outputLabel for="fName" value="First Name: " />
                    <p:inputText id="fName" value="#{subscriberController.updatedSubscriber.firstName}" />
                    <p:outputLabel for="lName" value="Last Name: " />
                    <p:inputText id="lName" value="#{subscriberController.updatedSubscriber.lastName}" />

                    <p:outputLabel for="lName" value="Email: " />
                    <p:inputText id="email" value="#{subscriberController.updatedSubscriber.email}" />
                    <p:outputLabel for="lName" value="Gender: " />
                    <h:selectOneMenu value="#{subscriberController.updatedSubscriber.gender}">
                        <f:selectItem itemValue="MALE" itemLabel="MALE"/>
                        <f:selectItem itemValue="FEMALE" itemLabel="FEMALE"/>
                    </h:selectOneMenu>
                    <p:commandButton value="Save" action="#{subscriberController.update}" />
                </p:panelGrid>
            </p:panel>


        </h:form>
    </ui:define>
</ui:composition>
</html>

