<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">



<h:head>
    <script>
       //  // Get the modal
       //  var modal = document.getElementById("myModal");
       //
       //  var btn = document.getElementById("myBtn");
       //
       //  var span = document.getElementsByClassName("close")[0];
       //
       //   function test2() {
       //       console.log('22')
       //      modal.style.display = "block";
       //  }
       //
       //
       // function test() {
       //       console.log('111')
       //      modal.style.display = "none";
       //  }
       //
       //  function test3(event) {
       //      if (event.target == modal) {
       //          modal.style.display = "none";
       //      }
       //  }

       function verifyEmail(){

           document.getElementById("successful-alert").style.display = "block";


       }
    </script>


    <title>Registration</title>
    <style>
        .error{color:red}
        .alert-success {
            display: none;
            padding: 20px;
            background-color: #E6E6FA;
            color: black;
        }




    </style>
</h:head>
<body>
<div id="successful-alert" class="alert-success">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"></span>
    Email has been verified <strong>successfully!</strong> <a href="https://mail.google.com">Verify</a>
</div>
<center>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <h:form id="registrationForm" >
        <p:panel header="Registration Form" style="width: 500px;">
            <p:messages/>
            <h:panelGrid columns="1"  reflow="true">

                <h:messages styleClass="error"/>
                <p:outputLabel value="UserName:"/>
                <p:inputText id="userName" value="#{userController.user.userName}" label="UserName" required="true" requiredMessage="User Name is Mandetory"/>


                <p:outputLabel value="Email:"/>
                    <p:inputText id="email" value="#{userController.user.email}" label="Email" type="email" required="true"
                                 validatorMessage="Invalid email format"
                                 requiredMessage="Email is Mandetory">
                    <f:validateRegex
                            pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                </p:inputText>



                <p:outputLabel value="Password:"/>
                <p:password id="password" value="#{userController.user.password}" label="Password" required="true"  requiredMessage="Password is Mandetory"/>


<!--                <p:outputLabel value="Confirm Password:"/>-->
<!--                <p:password id="cpassword" value="#{userController.user.confirmedPassword}" label="Confirm Password" required="true"  requiredMessage="Confirm Password is Mandetory"/>-->

                <p:outputLabel value=""/>
                <p:commandButton  action="#{userController.create}" value="Register" update="registrationForm"/>









            </h:panelGrid>
        </p:panel>
    </h:form>


<!--        <button id="myBtn" onclick="test()">Open Modal</button>-->

<!--        &lt;!&ndash; The Modal &ndash;&gt;-->
<!--        <div id="myModal" class="modal">-->

<!--            &lt;!&ndash; Modal content &ndash;&gt;-->
<!--            <div class="modal-content">-->
<!--                <span class="close"></span>-->
<!--                <p>Some text in the Modal..</p>-->
<!--            </div>-->

<!--        </div>-->




</center>

</body>
</html>