<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
>
<h:head>
</h:head>
<ui:composition template="layout.xhtml">
<ui:define name="content">
<h:form id= "form">
        <div >
            <p:dataTable widgetVar="subscribers"  paginatorPosition="bottom" id="subscribers" var="subscriber" value="#{subscriberController.subscribers}"
                         emptyMessage="No subscriber found with given criteria" filteredValue="#{subscriberController.filteredSubscribers}"
                         globalFilterFunction="#{subscriberController.globalFilterFunction}"
                         paginator="true" rows="10" reflow="true">

                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Search all fields using globalFilterFunction:" />
                        <p:inputText id="globalFilter" onkeyup="PF('subscribers').filter()" style="width:150px" placeholder="Enter keyword"/>
                    </p:outputPanel>
                </f:facet>



<!--                <p:column headerText="First Name">-->
<!--                    <h:outputText value="#{subscriber.firstName}" />-->
<!--                </p:column>-->

                <p:column filterBy="#{subscriber.firstName}" headerText="First Name" footerText="contains" filterMatchMode="contains">
                    <h:outputText value="#{subscriber.firstName}" />
                </p:column>

                <p:column filterBy="#{subscriber.lastName}" headerText="Last Name" footerText="contains" filterMatchMode="contains">
                    <h:outputText value="#{subscriber.lastName}" />
                </p:column>


                <p:column filterBy="#{subscriber.email}" headerText="Email" footerText="contains" filterMatchMode="contains">
                    <h:outputText value="#{subscriber.email}" />
                </p:column>
<!--                <p:column headerText="Last Name">-->
<!--                    <h:outputText value="#{subscriber.lastName}" />-->
<!--                </p:column>-->

<!--                <p:column headerText="Email">-->
<!--                    <h:outputText value="#{subscriber.email}" />-->
<!--                </p:column>-->

                <p:column headerText="Gender">
                    <h:outputText value="#{subscriber.gender}" />
                </p:column>

                <p:column >

                    <p:commandButton value="edit"
                                     id="edit" action="#{subscriberController.updateView(subscriber)}"
                                     style="margin-right:20px;" />

                    <p:commandButton value="delete"
                                     id="delete" action="#{subscriberController.deleteById(subscriber.id)}"
                                     style="margin-right:20px;" ajax="true" update="form" process="@this" />


                </p:column>
            </p:dataTable>
        </div>

</h:form>
</ui:define>
</ui:composition>
</html>